<!--<div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="loginForm">
            <div class="header">Welcome</div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="text"formControlName="email" matInput placeholder="Enter Email">
                </mat-form-field>
                <span *ngIf="isValid('email')">Username cannot be blank</span>
            </div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="password" formControlName="password" matInput placeholder="Password">
                </mat-form-field>
                <span *ngIf="isValid('password')">Password cannot be blank</span>
            </div>
            <div style="margin-top:40px; margin-left: 50px;">
                <button class="form-btn" (click)="login()">Sign In</button>
            </div>
        </form>
    </div>

    <div>
        <div style="width: 290px; padding: 20px;">
            <button class="form-btn-hollow" (click)="movetoregister()">Register</button>
        </div>
    </div>
</div>-->

<div class="wrapper">
    <div class="formbody">
        <form style="width:400px;" [formGroup]="loginForm" class="login">
            <div class="title">Welcome</div>
            <div >
                <mat-form-field style="width:100%;">
                    
                    <input type="text" formControlName="email" required  matInput placeholder="Enter Email" autofocus >
                    <i class="fa fa-user"></i>
                </mat-form-field>
              
                   <!--<span *ngIf="isValid('email')">Email Name is required</span>
                    <div *ngIf="loginForm.get('email').errors.email">Email must be a valid email Address</div>--> 
                    <div class="errors" *ngIf="submitted && f.email.errors" >
               <span *ngIf="f.email.errors.required">Email cannot be blank</span>
                   
               <span  *ngIf="f.email.errors.email">Email is not valid</span>
</div>
            
               <!-- <span *ngIf="loginForm.get('email').errors.email">Email must be a valid email address</span>-->
            </div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="password" formControlName="password" matInput placeholder="Password">
                    <i class="fa fa-key"></i>
                </mat-form-field>
                <div class="errors" *ngIf="submitted && f.password.errors" >
                    <span *ngIf="f.password.errors.minlength">Password should be longer than 8</span>
                    

     </div>
            </div>
            <div style="margin-top:40px; margin-left: 10px;padding-right: -10px;width: 100%;">
                <button class="form-btn" style="width: 50%;" (click)="login()"> Login</button>
            </div>
            <div style="margin-top:40px; margin-left: 10px;padding-right: -10px;width: 100%;">
                <button class="form-btn" style="width: 50%;margin-left: 203px;" (click)="adminlog()"> Admin login</button>
            </div>
           
            
            
            
        </form>
    </div>
    
    
    <div>
        <br> 
        <div style="width: 150px; padding: 20px;" class="login">
            <i class="spinner"></i>
            <button class="login" (click)="movetoregister()">Register</button>
        </div>
    </div>
</div>